
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        
        <title>Hieroglyphs</title>
        <link href="bigscreen.css" rel="stylesheet" type="text/css" >
 
    </head>
 
    <body>
       
         <canvas id='canvas'>


</canvas>
        <header id="head">
            <h1>Ancient Egyptain Hieroglyphs</h1>
        </header>
        <div id="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="signs.cshtml">Signs</a></li>
                <li><a href="words">Words</a></li>
                <li><a href="literature">Literature</a></li>
                <li><a href="tests.cshtml">Tests</a></li>
                <li><a href="Lessons.cshtml">Lessons</a></li>
                @{
                    if (Session["logout"] != null){
                        <li><a href="login.cshtml">Log in</a></li>
                    }
                    else{
                        <li><a href="logout.cshtml">Log out</a></li>
                    }
                }
                
            </ul>
           
        </div>
        
           
        <main id="main">
