@RenderPage("design.cshtml")
<div id="lesson">
                <h2>Lessons</h2>
                    <ul>
                            <li><a href="Lessons/Lesson1.cshtml">Lesson 1</a></li>
                            <li><a href="Lessons/Lesson2.cshtml">Lesson 2</a></li>
                    </ul>
    </div>
@RenderPage("footer.cshtml")