
@RenderPage("design.cshtml")


      <h2>Reset your Password</h2>
      <form method="post" action="PasswordReset.cshtml">
        <table>
           <tr><td>Username:</td> 
            <td><input type="text" name="username" /></td>
        </tr>

        <tr>
            <td>E-mail:</td>
            <td><input type="text" name="userEmail" /></td>
        </tr>


        <tr>
            <td></td><td><input type="submit" value="Submit" /></td>
        </tr>
            </table>
      </form>
    


@RenderPage("footer.cshtml")
 
