<form method="post" action="signsclear.cshtml">
    <button onclick="signs()">a</button>
    <input type="hidden" name="tr" id="tr"></input>
     
    <input type="hidden" name="fa" value="somthing"></input>
    <input type="submit" value="submit">
</form>


         <button onclick="result()">Results</button>

<script>
    

</script>
 @{ 
    if (IsPost){
        
        var tr = Request["tr"];
        
        //var fa = Request["fa"];
        <p>@tr</p> 
         
         <p id="score"></p>
          <script>
              
              

               
        </script>        

                          }
     else{
         var otee = 0;
         <script>
             var through = 0;
         </script>
     }
     

                          }

 <button onclick="signs()">a</button>