    </main>
    <footer id="end">
        <p>The way to learn!</p>
    </footer>

<script>
 
    main = document.getElementById("main");
                                                        var k = main.offsetHeight;

                                                        head = document.getElementById("head");
                                                        var hk = head.offsetHeight;
                                                        nav = document.getElementById("nav");

                                                        var kn = nav.offsetHeight;
                                                        var ts = hk + kn + k + hk + 100;
                                                        var pt = ts + "px";




                                                        document.getElementById("end").style.top = pt;
</script>
    </body>

</html>
