@{
    
}


<style>
    #circle{
        font-size:15px;
         font-family: Arial;
        font-size: 20px;
        width: 20px;
        height: 20px; 
        border-radius: 20px; 
        padding: 5px; 
        position: absolute;
        text-align: center; 
        background-color: white; 
        border: 1px solid red;
        top: 50px;
        left: 1000px;
    }
    #line{
        position: absolute;
        border: 1px solid red;
        border-radius: 2px; 
        width: 0px;
        background-color: red;
       // display: none;
    }
    /*
    div{
        font-family: Arial;
        font-size: 20px;
        width: 20px;
        height: 20px; 
        border-radius: 20px; 
        padding: 3px; 
        position: absolute;
        text-align: center; 
        background-color: white; 
        border: 1px solid black;
       // display: none;
       
    }*/
 
</style>

<img src="/images/source2.png" alt="Source 2" style="position: relative;"/>
<div  id="circle" ></div>
<div id="line" ></div>

<br>
 <button onclick="Order()" id="order">Reading Order</button>   



<p>Source:</p>
<p id="info" style="display: none;">James, T. (2004). THE GREAT PHARAOHS. Vercelli, Italy: White Star Publishers.</p>

<script>

    var ele = 0;

     
// ele = ele + 1;
            // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(225deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(225deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(225deg)";

            document.getElementById("line").style.top = "55px";
            document.getElementById("line").style.left = "973px";
            document.getElementById("line").style.height = "74px";


    
    
    function Order()
    {
        document.getElementById("line").style.display = "inline";
        document.getElementById("circle").style.fontSize = "15px";
        ele = ele + 1;
        
         document.getElementById("circle").innerHTML = ele;
    
        if (ele == 1)
        {
           
        


            // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(279deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(279deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(279deg)";

            document.getElementById("line").style.top = "38px";
            document.getElementById("line").style.left = "977px";
            document.getElementById("line").style.height = "45px";
        }
        if (ele == 2)
        {
            
            // ele = ele + 1;

            // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(285deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(285deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(285deg)";

            document.getElementById("line").style.top = "10px";
            document.getElementById("line").style.left = "960px";
            document.getElementById("line").style.height = "80px";
        }
        if (ele == 3)
        {
           
            // ele = ele + 1;
            // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(255deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(255deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(255deg)";

            document.getElementById("line").style.top = "33px";
            document.getElementById("line").style.left = "962px";
            document.getElementById("line").style.height = "75px";
        }
        if (ele == 4)
        {
            // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(280deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(280deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(280deg)";

            document.getElementById("line").style.top = "-5px";
            document.getElementById("line").style.left = "940px";
            document.getElementById("line").style.height = "117px";
        }
        if (ele == 5)
        {
               document.getElementById("line").style.WebkitTransform = "rotate(260deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(260deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(260deg)";

            document.getElementById("line").style.top = "18px";
            document.getElementById("line").style.left = "940px";
            document.getElementById("line").style.height = "118px";
        }
        if (ele == 6)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(275deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(275deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(275deg)";

            document.getElementById("line").style.top = "-25px";
            document.getElementById("line").style.left = "921px";
            document.getElementById("line").style.height = "156px";
        }
        if(ele == 7)
        {
            // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(275deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(275deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(275deg)";

            document.getElementById("line").style.top = "-45px";
            document.getElementById("line").style.left = "906px";
            document.getElementById("line").style.height = "189px";
   
        }
        if (ele == 8)
        {
            // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(270deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(270deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(270deg)";

            document.getElementById("line").style.top = "-15px";
            document.getElementById("line").style.left = "921px";
            document.getElementById("line").style.height = "156px";
        }
        if (ele == 9)
        {
             // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(270deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(270deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(270deg)";

            document.getElementById("line").style.top = "-20px";
            document.getElementById("line").style.left = "912px";
            document.getElementById("line").style.height = "176px";
        }
        if (ele == 10)
        
        {
            // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(270deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(270deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(270deg)";

            document.getElementById("line").style.top = "-30px";
            document.getElementById("line").style.left = "903px";
            document.getElementById("line").style.height = "190px";
        }
        if (ele == 11)
        {
             // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(270deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(270deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(270deg)";

            document.getElementById("line").style.top = "-40px";
            document.getElementById("line").style.left = "893px";
            document.getElementById("line").style.height = "210px";
        }
        if (ele == 12)
        {
            // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(262deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(262deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(262deg)";

            document.getElementById("line").style.top = "-5px";
            document.getElementById("line").style.left = "918px";
            document.getElementById("line").style.height = "165px";
        }
        if (ele ==13)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(265deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(265deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(265deg)";

            document.getElementById("line").style.top = "-17px";
            document.getElementById("line").style.left = "908px";
            document.getElementById("line").style.height = "185px";
        }
        if (ele == 14)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(265deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(265deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(265deg)";

            document.getElementById("line").style.top = "-27px";
            document.getElementById("line").style.left = "897px";
            document.getElementById("line").style.height = "206px";
        }
        if (ele == 15)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(275deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(275deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(275deg)";

            document.getElementById("line").style.top = "-67px";
            document.getElementById("line").style.left = "879px";
            document.getElementById("line").style.height = "241px";
        }
        if (ele == 16)
        {
             // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(264deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(264deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(264deg)";

            document.getElementById("line").style.top = "-47px";
            document.getElementById("line").style.left = "884px";
            document.getElementById("line").style.height = "233px";
        }
        if (ele == 17)
        
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(270deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(270deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(270deg)";

            document.getElementById("line").style.top = "-85px";
            document.getElementById("line").style.left = "848px";
            document.getElementById("line").style.height = "302px";
        }
        if (ele == 18)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(274deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(274deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(274deg)";

            document.getElementById("line").style.top = "-125px";
            document.getElementById("line").style.left = "822px";
            document.getElementById("line").style.height = "356px";
        }
        if (ele ==19)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(265deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(265deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(265deg)";

            document.getElementById("line").style.top = "-87px";
            document.getElementById("line").style.left = "837px";
            document.getElementById("line").style.height = "324px";
        }
        if (ele ==20)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(270deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(270deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(270deg)";

            document.getElementById("line").style.top = "-140px";
            document.getElementById("line").style.left = "796px";
            document.getElementById("line").style.height = "407px";
        }
        if (ele == 21)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(267deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(267deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(267deg)";

            document.getElementById("line").style.top = "-120px";
            document.getElementById("line").style.left = "798px";
            document.getElementById("line").style.height = "402px";
        }
        if (ele == 22)
        {
             // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(270deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(270deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(270deg)";

            document.getElementById("line").style.top = "-155px";
            document.getElementById("line").style.left = "781px";
            document.getElementById("line").style.height = "435px";
        }
        if (ele ==23)
        {
            // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(266deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(266deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(266deg)";

            document.getElementById("line").style.top = "-150px";
            document.getElementById("line").style.left = "776px";
            document.getElementById("line").style.height = "449px";
        }
        if (ele == 24)
        
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(271deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(271deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(271deg)";

            document.getElementById("line").style.top = "-200px";
            document.getElementById("line").style.left = "737px";
            document.getElementById("line").style.height = "524px";
        }
        if (ele == 25)
        {
             // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(271deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(271deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(271deg)";

            document.getElementById("line").style.top = "-214px";
            document.getElementById("line").style.left = "726px";
            document.getElementById("line").style.height = "545px";

        }
        if (ele == 26)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(271deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(271deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(271deg)";

            document.getElementById("line").style.top = "-238px";
            document.getElementById("line").style.left = "702px";
            document.getElementById("line").style.height = "595px";
        }
        if (ele == 27)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(270deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(270deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(270deg)";

            document.getElementById("line").style.top = "-268px";
            document.getElementById("line").style.left = "665px";
            document.getElementById("line").style.height = "667px";
        }
        if (ele == 28)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(272deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(272deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(272deg)";

            document.getElementById("line").style.top = "-300px";
            document.getElementById("line").style.left = "655px";
            document.getElementById("line").style.height = "692px";
        }
        if (ele == 29)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(271deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(271deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(271deg)";

            document.getElementById("line").style.top = "-332px";
            document.getElementById("line").style.left = "606px";
            document.getElementById("line").style.height = "784px";
        }
        if (ele == 30)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(270deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(270deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(270deg)";

            document.getElementById("line").style.top = "-339px";
            document.getElementById("line").style.left = "589px";
            document.getElementById("line").style.height = "820px";

        }
        if (ele == 31)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(270deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(270deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(270deg)";

            document.getElementById("line").style.top = "-360px";
            document.getElementById("line").style.left = "571px";
            document.getElementById("line").style.height = "856px";
        }
        if (ele == 32)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(272deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(272deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(272deg)";

            document.getElementById("line").style.top = "-410px";
            document.getElementById("line").style.left = "539px";
            document.getElementById("line").style.height = "920px";
        }
        if (ele ==33)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(270deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(270deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(270deg)";

            document.getElementById("line").style.top = "-400px";
            document.getElementById("line").style.left = "538px";
            document.getElementById("line").style.height = "924px";
        }
        if (ele == 34)
        {
              // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(268deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(268deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(268deg)";

            document.getElementById("line").style.top = "-380px";
            document.getElementById("line").style.left = "545px";
            document.getElementById("line").style.height = "909px";
        }
        if (ele == 35)
        {
                        // Code for Safari
            document.getElementById("line").style.WebkitTransform = "rotate(225deg)";
            // Code for IE9
            document.getElementById("line").style.msTransform = "rotate(225deg)";
            // Standard syntax
            document.getElementById("line").style.transform = "rotate(225deg)";

            document.getElementById("line").style.top = "55px";
            document.getElementById("line").style.left = "973px";
            document.getElementById("line").style.height = "74px";
        }
    }
</script>




