@RenderPage("design.cshtml")

<img src="/images/source1A.png" alt="fadsf" style="display: inline-block; border: 1px solid black;"/>


 
<div id="main1">       
<img src="/images/I10.png" alt="I10" id ="icon1" style="display:none; margin:10px; max-width: 75px; max-height: 75px; top: auto; margin-top: 1px;"/>
<img src="/images/S43.png" alt="S43" id ="icon2" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; margin-top: 1px;"/>
<img src="/images/M17.png" alt="M17" id ="icon3" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; "/>
<img src="/images/S3.png" alt="S3" id ="icon4" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; "/>
<img src="/images/N35.png" alt="N35" id ="icon5" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; "/>
<img src="/images/V26.png" alt="V26" id ="icon6" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; "/>
<img src="/images/D4.png" alt="D4" id ="icon7" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; "/>
<img src="/images/Q1.png" alt="Q1" id ="icon8" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; "/>
<img src="/images/A40.png" alt="A40" id ="icon9" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial;"/>
<img src="/images/S43.png" alt="S43" id ="icon10" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; "/>
<img src="/images/Y5.png" alt="Y5" id ="icon11" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; "/>
<img src="/images/N35.png" alt="N35" id ="icon12" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; "/>
<img src="/images/X1.png" alt="X1" id ="icon13" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; "/>
<img src="/images/G43.png" alt="G43" id ="icon14" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial;"/>
<img src="/images/X1.png" alt="X1" id ="icon15" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; "/>
<img src="/images/S34.png" alt="S34" id ="icon16" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial;"/>
<img src="/images/S29.png" alt="S29" id ="icon17" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; "/>
<img src="/images/O29.png" alt="O29" id ="icon18" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial;"/>
<img src="/images/M23.png" alt="M23" id ="icon19" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; "/>
<img src="/images/Z1.png" alt="Z1" id ="icon20" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; "/>
<img src="/images/S43.png" alt="S43" id ="icon21" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; "/>
<img src="/images/G43.png" alt="G43" id ="icon22" style="display:none; margin:2px; max-width: 75px; max-height: 75px; top: initial; "/>
</div>
<button onclick="Icon1()" id="1">1</button>
<button onclick="Icon2()" style="display: none;" id="2">2</button>
<button onclick="Icon3()" style="display: none;" id="3">3</button>
<button onclick="Icon4()" style="display: none;" id="4">4</button>
<button onclick="Icon5()" style="display: none;" id="5">5</button>
<button onclick="Icon6()" style="display: none;" id="6">6</button>
<button onclick="Icon7()" style="display: none;" id="7">7</button>
<button onclick="Icon8()" style="display: none;" id="8">8</button>
<button onclick="Icon9()" style="display: none;" id="9">9</button>
<button onclick="Icon10()" style="display: none;" id="10">10</button>
<button onclick="Icon11()" style="display: none;" id="11">11</button>
<button onclick="Icon12()" style="display: none;" id="12">12</button>
<button onclick="Icon13()" style="display: none;" id="13">13</button>
<button onclick="Icon14()" style="display: none;" id="14">14</button>
<button onclick="Icon15()" style="display: none;" id="15">15</button>
<button onclick="Icon16()" style="display: none;" id="16">16</button>
<button onclick="Icon17()" style="display: none;" id="17">17</button>
<button onclick="Icon18()" style="display: none;" id="18">18</button>
<button onclick="Icon19()" style="display: none;" id="19">19</button>
<button onclick="Icon20()" style="display: none;" id="20">20</button>
<button onclick="Icon21()" style="display: none;" id="21">21</button>
<button onclick="Icon22()" style="display: none;" id="22">22</button>
<button onclick="Icon23()" style="display: none;" id="23">23</button>

<p>Source:</p>
<p id="info" style="display: none;">James, T. (2004). THE GREAT PHARAOHS. Vercelli, Italy: White Star Publishers.</p>

<script>
function Icon1() {
   
   document.getElementById("icon1").style.display = 'inline-block';
    document.getElementById("2").style.display = 'block';
    document.getElementById("1").style.display = 'none';
    
}
function Icon2() {
     document.getElementById("icon2").style.display = 'inline-block';
     document.getElementById("3").style.display = 'block';
    document.getElementById("2").style.display = 'none';

}
function Icon3() {
     document.getElementById("icon3").style.display = 'inline-block';

     document.getElementById("4").style.display = 'block';
    document.getElementById("3").style.display = 'none';
    
}
function Icon4() {
     document.getElementById("icon4").style.display = 'inline-block';
     document.getElementById("5").style.display = 'block';
    document.getElementById("4").style.display = 'none';

}
function Icon5() {
     document.getElementById("icon5").style.display = 'inline-block';
     document.getElementById("6").style.display = 'block';
    document.getElementById("5").style.display = 'none';
    
}
function Icon6() {
     document.getElementById("icon6").style.display = 'inline-block';
     document.getElementById("7").style.display = 'block';
    document.getElementById("6").style.display = 'none';

}
function Icon7() {
     document.getElementById("icon7").style.display = 'inline-block';
     document.getElementById("8").style.display = 'block';
    document.getElementById("7").style.display = 'none';
    
}
function Icon8() {
     document.getElementById("icon8").style.display = 'inline-block';
     document.getElementById("9").style.display = 'block';
    document.getElementById("8").style.display = 'none';

}
function Icon9() {
     document.getElementById("icon9").style.display = 'inline-block';
     document.getElementById("10").style.display = 'block';
    document.getElementById("9").style.display = 'none';
    
}
function Icon10() {
     document.getElementById("icon10").style.display = 'inline-block';
     document.getElementById("11").style.display = 'block';
    document.getElementById("10").style.display = 'none';

}
function Icon11() {
     document.getElementById("icon11").style.display = 'inline-block';
     document.getElementById("12").style.display = 'block';
    document.getElementById("11").style.display = 'none';
    
}
function Icon12() {
     document.getElementById("icon12").style.display = 'inline-block';
     document.getElementById("13").style.display = 'block';
    document.getElementById("12").style.display = 'none';

}
function Icon13() {
     document.getElementById("icon13").style.display = 'inline-block';
     document.getElementById("14").style.display = 'block';
    document.getElementById("13").style.display = 'none';
    
}
function Icon14() {
     document.getElementById("icon14").style.display = 'inline-block';
     document.getElementById("15").style.display = 'block';
    document.getElementById("14").style.display = 'none';

}
function Icon15() {
     document.getElementById("icon15").style.display = 'inline-block';
     document.getElementById("16").style.display = 'block';
    document.getElementById("15").style.display = 'none';
    
}
function Icon16() {
     document.getElementById("icon16").style.display = 'inline-block';
     document.getElementById("17").style.display = 'block';
    document.getElementById("16").style.display = 'none';

}
function Icon17() {
     document.getElementById("icon17").style.display = 'inline-block';
     document.getElementById("18").style.display = 'block';
    document.getElementById("17").style.display = 'none';
    
}
    function Icon18() {
     document.getElementById("icon18").style.display = 'inline-block';
     document.getElementById("19").style.display = 'block';
    document.getElementById("18").style.display = 'none';

}
function Icon19() {
     document.getElementById("icon19").style.display = 'inline-block';
     document.getElementById("20").style.display = 'block';
    document.getElementById("19").style.display = 'none';
    
}
function Icon20() {
     document.getElementById("icon20").style.display = 'inline-block';
     document.getElementById("21").style.display = 'block';
    document.getElementById("20").style.display = 'none';

}
function Icon21() {
     document.getElementById("icon21").style.display = 'inline-block';
     document.getElementById("22").style.display = 'block';
    document.getElementById("21").style.display = 'none';
    
}
function Icon22() {
     document.getElementById("icon22").style.display = 'inline-block';
     document.getElementById("info").style.display = 'inline-block';
    document.getElementById("22").style.display = 'none';
    document.getElementById("main1").style.border = '1px solid black';
}

</script>

</html>

@RenderPage("/footer.cshtml")