@RenderPage("design.cshtml")
@{
    
}
<h2>Add word</h2>
<p>The glyphs are added afterwards. If the icon you need is not is our list, then you need to go to </p>
<form>
Pronounciation: <input type="text" name="pronouciation">
Meaning: <input type="text" name="meaning">
Word type: <input type="text" name="type">
</form>
@RenderPage("../footer.cshtml")
