    </main>
    <footer id="end">
        <p>The way to learn!</p>
    </footer>

<script>
      /*
    main = document.getElementById("main");
    var k = main.offsetHeight;
    var kt = main.offsetTop;

    h = document.getElementById("head");
    var hkh = h.offsetHeight;
    var hkt = h.offsetTop;

    nav = document.getElementById("nav");
    var kn = nav.offsetHeight;
    var knt = nav.offsetTop;

    var ts = k + kt + hkh + kn + 300;
    var pt = ts + "px";




    document.getElementById("end").style.top = pt;

   


    if ('pageXOffset' in window) {  // all browsers, except IE before version 9
    var scrollLeft =  window.pageXOffset;
    var scrollTop = window.pageYOffset;
    }
    else {      // Internet Explorer before version 9
    var zoomFactor = GetZoomFactor ();
    var scrollLeft = Math.round (document.documentElement.scrollLeft / zoomFactor);
    var scrollTop = Math.round (document.documentElement.scrollTop / zoomFactor);
    }
    alert ("The current horizontal scroll amount: " + scrollLeft + "px");
    alert ("The current vertical scroll amount: " + scrollTop + "px");
    */
</script>
    </body>

</html>
